body {
    font-size: 20px;
    color:  $body-default-color;
    background-color: $body-bg;

  }

  p {
    line-height: $line-height-base;
    margin: 30px 0;
  }

  p a {
    text-decoration: none;
  }

img{max-width: 100%;}

h1,
  h2,
  h3,
  h5,
  h6 {
    font-weight: 400;
    font-family:$font-family-second-sans-serif;
    letter-spacing: 0.077em;

  }

h4{font-weight: 800; font-family: $font-family-second-sans-serif;}
/* ------------------------------------------HEADER  COMPONENT STYLE-----------------------------------------------------------------------------*/
.ff-header-background-color{
    background-color: $header-default-bg-color;
}

.ff-header-left{
    font-family: $font-family-second-sans-serif;
    color:$white;

}

.ff-header-right{
    font-family: $font-family-second-sans-serif;

}

.ff-header-left-content{
    text-align:left;
    h1{
        font-family: $font-family-second-sans-serif;
        font-size: 60px;
        line-height: 70px;
    }
    a{
        text-decoration: none;
        color:$white;

    }
    .btn{
        background-color: $dark!important;
    }
}






.header-right-img-padding{
    padding-left: 20px;
    padding-right: 20px;

}
.ff-header-left-content p{
    font-family: $font-family-second-sans-serif;
    font-size: 18px;

}
.ff-header-right img{
    padding: 0;
    margin: 0;
    position: relative;
    left:20px;
}
.ff-header-right-img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*-------------------------------------------MENU SEARCH BAR----------------------------------------------------------------------------------*/

.overlaySearch{
    height: 0;
    width: 100vw;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgb(0, 0 , 0);
    background-color: rgba(0, 0 ,0,0.9);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.7s;
    font-family: $font-family-first-sans-serif;
    a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: $overlay-color-a;
        display: block;
        transition: 0.3s; /*transition effects on hover*/
    &:hover{
        color: $overlay-color-a-hover;
    }
    }
    .closebtn {
        position: absolute;
        top:-20px;
        right:45px;
        font-size: 60px;
    }
    input[type=text],input[type=submit]{
        outline: none;
    }

    input[type=text]{
        box-shadow: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        margin: 0;
        padding: 0;
        height:60px;
        line-height: 60px;
        font-size: 42px;
        width: 1140px;
        color:#fff;
        &:focus{
            color: #fff;
        }
    }

    ::placeholder {
        color: #fff;
        opacity: 1; /* Firefox */
        font-weight: 400;
        font-style: italic;

      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: #fff;
       font-weight: 300;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
       color: #fff;
       font-weight: 300;
      }

    input[type=submit]{
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        font-size: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url(./img/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        color:#fff;

    }

}


/* ------------------------------------------MENU COMPONENT STYLE-----------------------------------------------------------------------------*/
#openNav{
    font-size:30px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: italic;

 }


.ddd-hero{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
 .global_nav_open{
     width: 44px;
     height: 44px;
     display: block;
     position: relative;
     .btnSearch{
        position: relative;
        right: 55px;
        top:8px;
        z-index:35;
        i{
            color: $custom-color-bg-nav;
        }
    }

 }


 .global_nav_open_top{
    top: 17px;
    display: block;
    width: 23px;
    height: 2px;
    position: absolute;
    left: 8px;
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 0;
    transition-timing-function: cubic-bezier(.66,0,.34,1);
    cursor: pointer;

 }

.global_nav_open_bottom{
    bottom: 17px;
    display: block;
    width: 33px;
    height: 2px;
    position: absolute;
    left: 8px;
    cursor: pointer;

}

.opennav{
    width:100%;
    height:100%;
    z-index:35;
    position: absolute;
    top:0px;
}

 .bg--Color--panda-black{
    background-color: $custom-color-bg-nav;
}


.overlay{
    height: 0;
    width: 100vw;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgb(0, 0 , 0);
    background-color: rgba(0, 0 ,0,0.9);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.7s;
    font-family: $font-family-first-sans-serif;
}




.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 999;
}

.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $overlay-color-a;
    display: block;
    transition: 0.3s; /*transition effects on hover*/
}

.overlay a:hover {
    color: $overlay-color-a-hover;
}

.overlay .closebtn {
    position: absolute;
    top:-20px;
    right:45px;
    font-size: 60px;

}
.global-subnav{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    right: -83vw;
    top: 0px;
    z-index: 5;
    background-color:  $global-subnav-bg-color;
    width: 83vw;
    height: 100vh;
    overflow-x: hidden;
    transition: 0.7s;


}


.close-subnav{
    position: absolute;
    top: -15px;
    left: 30px;
    font-size: 90px;
    z-index: 6;
}

.global-subnav a:hover {
    color:  $global-subnav-a-hover;
}

/* ------------------------------------------HEADER PRESENTATION STYLE-----------------------------------------------------------------------------*/


.pres-content{
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1.7px;
    .btn{
        color: $white;
        background-color: $dark!important;
        &:hover{
            color:$yellow;
    }

    }
}


/* ------------------------------------------HOME POST STYLE-----------------------------------------------------------------------------*/

.ff-home-content-section{
    background-color: $white;
    padding-top: 100px;

}
.ff-home-post-container{
    display:flex;

}

.ff-welcome-title-box{
    margin-bottom: 50px;
    h1{
        color:$white;
    }
    i{
        color:$white;
    }
    .triangle-background{
        position: relative;
    }
    .triangle-background{
        .triangle-svg >svg{
            width:100%;
            height:10vw;
            position:relative;
        }
    }
    .triangle-background.triangle-top{
        .triangle-svg >svg{
            transform:rotate(0deg);
        }
    }
    .triangle-background.triangle-bottom{
        .triangle-svg >svg{
                transform:rotate(180deg);
            }

    }
}
.ff-welcome-title{
    text-align: center;
}


.card-body h4{
    text-transform: capitalize;
    font-weight: 700;

}
.card-body p {
    font-family: $font-family-first-sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.card-body .btn:hover{
    color:$white;
}
.ff-card-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.125);

}
.ff-card-footer span{
    font-family: $font-family-first-sans-serif;
    font-weight: 200;
    font-size: 14px;
    text-transform: capitalize;

}
.ff-footer-cat span{
    margin-left: 10px;
    font-size:11px;
    text-transform: uppercase;
    color: $black;
    font-family: $font-family-category-card;
    a{
        text-decoration: none;
    }
}

.ff-footer-cat a:hover{
    color: $header-default-bg-color;
    text-decoration: none;

}




/* ------------------------------------------PAGINATION STYLE-----------------------------------------------------------------------------*/


.page-link{
    border: none!important;
    //color: #000!important;
    border: 2px solid #c71585!important;
    border-radius: 10px!important;
    display: block!important;
    transition: all 0.5s ease 0s!important;
    margin-right: 5px!important;
    font-family: $font-family-second-sans-serif;
}

.page-item i {
    color:#000;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link{
    color: #000!important;
    background: #c71585!important;
    border-color: #fff!important;
    box-shadow: 0 0 5px rgba(199, 21, 133,0.90) inset,0 0 5px rgba(199, 21, 133,0.85)!important;
}
// .pagination li:first-child a.page-link,
// .pagination li:last-child a.page-link{
    // line-height: 30px!important;
// }



/* ------------------------------------------FOOTER SOCIAL-----------------------------------------------------------------------------*/

footer {
    margin-top: 50px;
    color:#fff;
    overflow: hidden;
    .footer-container {
        .footer-social{
            text-align: center;
                a{
                    font-size: 42px;
                    margin: 0 30px;
                }
            .footer-social-container{
                // border-bottom: 1px solid  $separator-color;
                padding-top: 10px;
                padding-bottom: 40px;
                i{
                    color:$white;
                }
            }
        }
    }
}

.footer-container>div>row{
    padding-top: 20px;
    padding-bottom: 20px;
}
.gradient-hm-stong-light{
    background: linear-gradient(31.23deg,#FAA653 0, #faa653 100%);
}
.triangle-background{
    position: relative;
}
.triangle-background{
    .triangle-svg >svg{
        width:100%;
        height:10vw;
        position:relative;
    }
}
.triangle-background.triangle-top{
    .triangle-svg >svg{
        transform:rotate(-180deg);
    }
}


.footer-block{
    color:$white;
    text-align: center;
    font-family: $font-family-second-sans-serif;
    border-top: 1px solid #fff;
    p{
        margin: 10px 0;
    }
    a{
        color:$white;
        font-weight: 300;
        &:hover{
            opacity: 0.7;
        }
    }
    .footer-credits{
        font-size:11px;
        font-weight: 200;
        text-transform: uppercase;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .footer-content{
        padding-top: 80px;
    }
    .footer-content-title{
        font-size: 16px;
        text-transform: uppercase;
    }
    .footer-content-text{
        font-size:14px;
        margin: 20px 0;

    }
}


/* ------------------------------------------SINGLE POST PAGE-----------------------------------------------------------------------------*/

.article-header{
    margin-top: 120px;
    .date-category {
        margin-top:100px;
        font-size:11px;
        text-transform: uppercase;
        color: $black;
        font-family: $font-family-category-card;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    .article-title{
        margin-top:60px;
        h1{
            line-height: 49px;
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
        }

    }
}

.article-content{
    padding-top: 80px;
    font-family: $font-family-second-sans-serif;
    p{
        color: #000;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 32px;
        margin-bottom: 10px;
    }

}
