body {
  font-size: 20px;
  color: #212529;
  background-color: #fff;
}

p {
  line-height: 1.6;
  margin: 30px 0;
}

p a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.077em;
}

h4 {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1240px !important;
}

/* ------------------------------------------HEADER  COMPONENT STYLE-----------------------------------------------------------------------------*/

.ff-header-background-color {
  background-color: #FF9933;
}

.ff-header-left {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.ff-header-right {
  font-family: "Montserrat", sans-serif;
}

.ff-header-left-content {
  text-align: left;
}

.ff-header-left-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 70px;
}

.ff-header-left-content a {
  text-decoration: none;
  color: #fff;
}

.ff-header-left-content .btn {
  background-color: #343a40 !important;
}

.header-right-img-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.ff-header-left-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.ff-header-right img {
  padding: 0;
  margin: 0;
  position: relative;
  left: 20px;
}

.ff-header-right-img-cover {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-------------------------------------------MENU SEARCH BAR----------------------------------------------------------------------------------*/

.overlaySearch {
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.7s;
  font-family: "Lora", sans-serif;
}

.overlaySearch a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  /*transition effects on hover*/
}

.overlaySearch a:hover {
  color: #f1f1f1;
}

.overlaySearch .closebtn {
  position: absolute;
  top: -20px;
  right: 45px;
  font-size: 60px;
}

.overlaySearch input[type=text],
.overlaySearch input[type=submit] {
  outline: none;
}

.overlaySearch input[type=text] {
  box-shadow: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 60px;
  font-size: 42px;
  width: 1140px;
  color: #fff;
}

.overlaySearch input[type=text]:focus {
  color: #fff;
}

.overlaySearch ::-moz-placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-weight: 400;
  font-style: italic;
}

.overlaySearch :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-weight: 400;
  font-style: italic;
}

.overlaySearch ::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-weight: 400;
  font-style: italic;
}

.overlaySearch :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-weight: 300;
}

.overlaySearch ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  font-weight: 300;
}

.overlaySearch input[type=submit] {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(/images/search.svg?4ab6850bb78afd2ff17c6a5ccb910a0a);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  color: #fff;
}

/* ------------------------------------------MENU COMPONENT STYLE-----------------------------------------------------------------------------*/

#openNav {
  font-size: 30px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.is_scrolled {
  background: rgba(0, 0, 0, 0.5);
}

.ddd-hero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.global_nav_open {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
}

.global_nav_open .btnSearch {
  position: relative;
  right: 55px;
  top: 8px;
  z-index: 35;
}

.global_nav_open .btnSearch i {
  color: #640b43;
}

.global_nav_open_top {
  top: 17px;
  display: block;
  width: 23px;
  height: 2px;
  position: absolute;
  left: 8px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
  cursor: pointer;
}

.global_nav_open_bottom {
  bottom: 17px;
  display: block;
  width: 33px;
  height: 2px;
  position: absolute;
  left: 8px;
  cursor: pointer;
}

.opennav {
  width: 100%;
  height: 100%;
  z-index: 35;
  position: absolute;
  top: 0px;
}

.bg--Color--panda-black {
  background-color: #640b43;
}

.overlay {
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.7s;
  font-family: "Lora", sans-serif;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 999;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  /*transition effects on hover*/
}

.overlay a:hover {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -20px;
  right: 45px;
  font-size: 60px;
}

.global-subnav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  right: -83vw;
  top: 0px;
  z-index: 5;
  background-color: #fff;
  width: 83vw;
  height: 100vh;
  overflow-x: hidden;
  transition: 0.7s;
}

.close-subnav {
  position: absolute;
  top: -15px;
  left: 30px;
  font-size: 90px;
  z-index: 6;
}

.global-subnav a:hover {
  color: #000;
}

/* ------------------------------------------HEADER PRESENTATION STYLE-----------------------------------------------------------------------------*/

.pres-content {
  color: #7a7a7a;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.7px;
}

.pres-content .btn {
  color: #fff;
  background-color: #343a40 !important;
}

.pres-content .btn:hover {
  color: #ffc107;
}

/* ------------------------------------------HOME POST STYLE-----------------------------------------------------------------------------*/

.ff-home-content-section {
  background-color: #fff;
  padding-top: 100px;
}

.ff-home-post-container {
  display: flex;
}

.ff-welcome-title-box {
  margin-bottom: 50px;
}

.ff-welcome-title-box h1 {
  color: #fff;
}

.ff-welcome-title-box i {
  color: #fff;
}

.ff-welcome-title-box .triangle-background {
  position: relative;
}

.ff-welcome-title-box .triangle-background .triangle-svg > svg {
  width: 100%;
  height: 10vw;
  position: relative;
}

.ff-welcome-title-box .triangle-background.triangle-top .triangle-svg > svg {
  transform: rotate(0deg);
}

.ff-welcome-title-box .triangle-background.triangle-bottom .triangle-svg > svg {
  transform: rotate(180deg);
}

.ff-welcome-title {
  text-align: center;
}

.card {
  border: 0px !important;
}

.card-body {
  padding: 0px;
  padding-top: 1.25rem;
}

.card-body a {
  text-decoration: none;
}

.card-body a h4 {
  text-transform: capitalize;
  font-weight: 700;
}

.card-body a:hover {
  color: #faa653;
}

.card-body p {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.card-body .btn:hover {
  color: #fff;
}

.ff-card-footer {
  border-bottom: 1px solid #640b43;
  padding-bottom: 1.4rem;
}

.ff-card-footer span {
  font-family: "Lora", sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-transform: capitalize;
}

.ff-footer-cat span {
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #000;
  font-family: "Work Sans", sans-serif;
}

.ff-footer-cat span a {
  text-decoration: none;
}

.ff-footer-cat a:hover {
  color: #FF9933;
  text-decoration: none;
}

/* ------------------------------------------PAGINATION STYLE-----------------------------------------------------------------------------*/

.page-link {
  border: none !important;
  border: 2px solid #c71585 !important;
  border-radius: 10px !important;
  display: block !important;
  transition: all 0.5s ease 0s !important;
  margin-right: 5px !important;
  font-family: "Montserrat", sans-serif;
}

.page-item i {
  color: #000;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link {
  color: #000 !important;
  background: #c71585 !important;
  border-color: #fff !important;
  box-shadow: 0 0 5px rgba(199, 21, 133, 0.9) inset, 0 0 5px rgba(199, 21, 133, 0.85) !important;
}

/* ------------------------------------------FOOTER SOCIAL-----------------------------------------------------------------------------*/

footer {
  margin-top: 50px;
  color: #fff;
  overflow: hidden;
}

footer .footer-container .footer-social {
  text-align: center;
}

footer .footer-container .footer-social a {
  font-size: 42px;
  margin: 0 30px;
}

footer .footer-container .footer-social .footer-social-container {
  padding-top: 10px;
  padding-bottom: 40px;
}

footer .footer-container .footer-social .footer-social-container i {
  color: #fff;
}

.footer-container > div > row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gradient-hm-stong-light {
  background: linear-gradient(31.23deg, #FAA653 0, #faa653 100%);
}

.triangle-background {
  position: relative;
}

.triangle-background .triangle-svg > svg {
  width: 100%;
  height: 10vw;
  position: relative;
}

.triangle-background.triangle-top .triangle-svg > svg {
  transform: rotate(-180deg);
}

.footer-block {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid #fff;
}

.footer-block p {
  margin: 10px 0;
}

.footer-block a {
  color: #fff;
  font-weight: 300;
}

.footer-block a:hover {
  opacity: 0.7;
}

.footer-block .footer-credits {
  font-size: 11px;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-block .footer-content {
  padding-top: 80px;
}

.footer-block .footer-content-title {
  font-size: 16px;
  text-transform: uppercase;
}

.footer-block .footer-content-text {
  font-size: 14px;
  margin: 20px 0;
}

/* ------------------------------------------SINGLE POST PAGE-----------------------------------------------------------------------------*/

.article-header {
  margin-top: 120px;
}

.article-header .date-category {
  margin-top: 100px;
  font-size: 11px;
  text-transform: uppercase;
  color: #000;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

.article-header .date-category a {
  text-decoration: none;
}

.article-header .date-category a:hover {
  color: #FF9933;
  text-decoration: none;
}

.article-header .article-title {
  margin-top: 60px;
}

.article-header .article-title h1 {
  line-height: 49px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.article-content {
  padding-top: 80px;
  font-family: "Montserrat", sans-serif;
}

.article-content p {
  color: #000;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 10px;
}

/* ---------------------------------------SEARCH RESULT PAGE------------------------------------------------------------------------*/

.container {
  margin-top: 80px;
}

.no-search-result {
  margin-top: 200px;
  margin-bottom: 100px;
}

.no-search-result h2 {
  text-align: center;
  font-size: 1rem;
  justify-content: center;
}

.search-result .search-title {
  margin-top: 80px;
  margin-bottom: 35px;
  font-weight: 400;
  color: #640b43;
  font-size: 32px;
}

.search-result .search-title span {
  color: #000;
}

.search-result .ff-card-footer {
  border-top: 0px;
  padding-bottom: 1.4rem;
}

.search-result .ff-card-footer span {
  margin-left: 0px;
}

.search-result .card {
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #640b43;
}

.search-result .card-body {
  padding: 1.4rem;
  padding-left: 0px;
}

.search-result .card-body a {
  text-align: left;
  text-decoration: none;
}

.search-result .card-body h2 {
  font-size: 1.5rem;
}

